# Variáveis para o usuário/grupo dentro do contêiner (para permissões)
# Geralmente 1000 é o UID/GID do seu usuário padrão em Linux/macOS.
# No Windows, pode ser diferente, mas 1000 costuma funcionar bem para Docker.
DK_UID=1000
DK_GID=1000

# Variáveis para o Banco de Dados (PostgreSQL)
DB_USER=seu_user
DB_PASSWORD=sua_senha # Altere para uma senha forte e segura!
DB_NAME=unigo_db
DB_PORT=5433 # Porta do host para acessar o DB (DBeaver/pgAdmin)
DB_PORT_INTERNAL=5432 # Porta interna do contêiner PostgreSQL

# Variáveis para o Backend (Node.js Express)
BACKEND_PORT=3002 # Porta do host para acessar sua aplicação backend
BACKEND_PORT_EXPOSE=3000 # Porta interna do contêiner

# FRONTEND_PORT=3001 # Porta do host para acessar sua aplicação frontend
# FRONTEND_PORT_EXPOSE=80 # Porta interna do contêiner
